---
component: navbar
---
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{relative page.dest "dist/index.html"}}">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#categories}}
          {{#lengthEqual pages 1}}
            {{#withSort pages "data.order"}}
              {{#is data.category category}}
                <li{{#is data.title ../../../../title}} class="active"{{/is}}>
                  <a href="{{relative dest this.dest}}">{{ data.title }}</a>
                </li>
              {{/is}}
            {{/withSort}}
          {{else}}
            <li class="dropdown">
              {{#withFirst pages}}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{this.data.menu}}<b class="caret"></b></a>
              {{/withFirst}}
              <ul class="dropdown-menu">
                {{#withSort pages "data.order"}}
                  {{#is data.category category}}
                      <li{{#is data.title ../../../../title}} class="active"{{/is}}>
                          <a href="{{relative dest this.dest}}">{{ data.title }}</a>
                      </li>
                  {{/is}}
                {{/withSort}}
              </ul>
            </li>
          {{/lengthEqual}}
        {{/categories}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
